*{
    box-sizing: border-box;
}
.event-blog{
    font-weight: normal;
     margin-top: 20px;
}

ul{
   list-style: none; 
}
.bold{
    font-weight: bold;
}
.Content{
    margin-top: 30px;
}
.Blogs{
    margin-top: 30px;
}
#tips{
    border:1px solid grey;
    border-radius:10px;
}
.apps{
    display:flex;
    flex-wrap: wrap;
}
.apps>Button{
    margin-right: 5px;
    padding:10px;
}
.Event>h3{
    font-size: 1.75rem;
    font-weight: 300;
    padding: 0;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}
.Blogs>h3{
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}
.Blogs>h5{
    font-size: 1.75rem;
    font-weight: 300;
    padding: 0;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}
#app{
    font-size: 1.75rem;
    font-weight: 300;
    padding: 0;
    line-height: 1.2;
    margin: 0 0 0.5rem;  
}