.header{
    color: white;
}

.head-sec1{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#text{
    font-size: 2rem;
    margin-top: 100px;
    text-align: center;
}
.nav-button{
    display: flex;
    justify-content: center;
    background: transparent;
    color: white;
    margin: 10px 0;
  

}
.nav-button>Button{
    font-weight: bolder;
}
.input-box{
    text-align: center;
}
.input-box>input{
    margin-top: 20px 0;
    width:900px;
    padding: 13px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}
.nav-text{
    margin-top: 40px;
    text-align: center;
}
.nav-text>h1{
    font-weight: normal;
}
.nav-text>h1{
    font-weight: normal;
    text-align: center;
}
.nav-text>Button{
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width:800px) {
    .input-box>input{
        width:100%;
    }
}
@media screen and (max-width:375px) {
    .nav-text>Button{
        display: none;
    }

}

