.header{
    color: white;
}

.head-sec1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#text{
    font-size: 1.75rem;
    margin-top: 100px;
    margin-bottom: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 1px 2px rgb(0 0 0 / 65%);
}
.nav-button{
    display: flex;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: all .3s ease-in-out;
    text-align: center;

  

}
.nav-button>Button{
    color: #37474f;
    margin: 10px 0 20px 0;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 2px 10px;
    border:none;
    background-color:rgba(61, 54, 54, 0.4) ;
}
.input-box{
    text-align: center;
    border-radius: 0.375rem;
    background-color: transparent;
}
.input-box>input{
    margin-top: 20px 0;
    width:900px;
    padding: 20px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}
.nav-text{
    margin-top: 40px;
    text-align: center;
}
.nav-text>h1{
    font-weight: normal;
}
.nav-text>h1{
    font-weight: normal;
    text-align: center;
}

.nav-text>Button{
    margin-top: 10px;
    text-align: center;
}
#line{
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1.125rem;
}
#line2{
    font-weight: 300;
    font-size: 1.5rem;
    text-shadow: 0 1px 2px rgb(0 0 0 / 65%);
}

@media screen and (max-width:800px) {
    .input-box>input{
        width:100%;
    }
}
@media screen and (max-width:375px) {
    .nav-text>Button{
        display: none;
    }

}

