.head-sec1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head-sec1>.logo{
   margin: 10px 57px;
   padding:0px 15px;

}
#auth-btn>#login{
    margin-right: 10px;
    padding: 7px 14px;
}

#auth-btn{
    display: flex;
    justify-content: center;
    margin: 10px 57px;
}
@media screen and (max-width:900px) {
    #auth-btn{
        display:none;
    }
}