.footer{
  margin-top: 50px; 
}

button{
    border:none;
    display:flex;
    flex-direction: column;
    
    background-color: white;
}
#copyright{
    margin-top: 20px;
    font-size: larger;
   
}
button:hover{
    color: rgb(235, 88, 8);
}
.vline{
    border-right: 1px solid grey;
    margin: 10px 30px;

}
#input-box{
    padding: 5px 5px;
    border-radius: 5px;
    width:100%;
    display: flex;
}
#search-bar{
    display: flex;
}
#follow{
    margin-left: 3px;
    border: none;
}
@media screen and (max-width:780px) {
    .vline{
        border-right:none;
        border-bottom: 1px solid grey;
        margin:10px 0;
    }
    
}

