.footer{
  margin-top: 30px;  
}

button{
    border:none;
    display:flex;
    flex-direction: column;
  
    background-color: white;
}
.copyright{
    display:flex;
    justify-content:space-between;
    background-color: #f2f2f2;
}
button:hover{
    color: rgb(235, 88, 8);
}
.vline{
    border-right: 1px solid grey;

}
#input-box{
    padding: 5px 0;
}
